.navbar {
    background-color: #D9B4A7;
    color: black;

    .navbar-brand {
        font-style: italic;
        font-weight: lighter;
        font-size: 1.5rem;
      }
}

.cart-widget {
    width: "30px";
    height: "50px"
}